<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Wypożyczalnia aut</title>

    <style>
        .warning {
            color: red;
        }
    </style>
</head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<footer th:replace="fragments/navigation :: navigation"></footer>
        <form method="post" th:action="@{/mvc/car/addOrEdit}" th:object="${car}">
            <input type="hidden" th:field="*{id}"/>
            Producent: <input type="text" required th:field="*{manufacturer}">
            <span class="warning" th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}"/></br>
            Model: <input type="text" required th:field="*{model}">
            <span class="warning" th:if="${#fields.hasErrors('model')}" th:errors="*{model}"/></br>
            Vin: <input type="text" required th:field="*{vin}">
            <span class="warning" th:if="${#fields.hasErrors('vin')}" th:errors="*{vin}"/></br>
            Rok produkcji: <input type="number" required th:field="*{yearOfProduction}">
            <span class="warning" th:if="${#fields.hasErrors('yearOfProduction')}" th:errors="*{yearOfProduction}"/></br>
            Ubezpieczenie od: <input type="date" required th:field="*{insuredFrom}">
            <span class="warning" th:if="${#fields.hasErrors('insuredFrom')}" th:errors="*{insuredFrom}"/></br>
            Ubezpieczenie do: <input type="date" required th:field="*{insuredTo}">
            <span class="warning" th:if="${#fields.hasErrors('insuredTo')}" th:errors="*{insuredTo}"/></br>

            <p th:each="err : ${globalErrors}"><span class="warning" th:text="${err}"/></p>

            <input type="submit" value="Zapisz"/>
        </form>
<footer th:replace="fragments/navigation :: footer"></footer>
</body>
</html>
