<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wypożyczalnia aut</title>
    <style>
        .odd {
            background-color: darkolivegreen;
        }
        .even {
            background-color: darkkhaki;
        }
    </style>
</head>
<body>
    <a th:href="@{/mvc/car/add}">Dodaj nowy samochód</a>

    <form method="post" th:action="@{/mvc/car/search}" th:object="${params}">
        Producent: <input type="text" th:field="*{manufacturer}"></br>
        Model: <input type="text" th:field="*{model}"></br>
        Vin: <input type="text" th:field="*{vin}"></br>
        Produkcja od: <input type="number"th:field="*{productionFrom}"></br>
        Produkcja do: <input type="number"th:field="*{productionTo}"></br>
        <input type="submit" value="Filtruj"/>
    </form>

   <!-- <h2 th:unless="${cars.size()>0}">Brak samochodów w wypożyczalni</h2>-->
    <h2 th:if="${#lists.isEmpty(cars)}">Brak samochodów w wypożyczalni</h2>

    <table th:if="${cars.size()>0}">
        <thead>
        <tr>
            <td>Producent</td>
            <td>Model</td>
            <td>Kraj produkcji</td>
            <td>Vin</td>
            <td>Rok produkcji</td>
            <td>Ubezpieczenie od</td>
            <td>Ubezpieczenie do</td>
            <td>Akcja</td>
            <td></td>  <!--można go zostawić pusty Edytuj-->
            <td></td> <!--Usuń-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="car, iterStat : ${cars}" th:class="${iterStat.isOdd()}? 'odd': 'even'"> <!-- pętla thymeleaf , iterStat dodatkowe-->
            <td><span th:text="${car.manufacturer}"/></td>
            <td><span th:text="${car.model}"/></td>
            <td>
                <div th:switch="${car.manufacturer}"</div>
                <span th:case="Opel">Niemcy</span>
                <span th:case="VW">Niemcy</span>
                <span th:case="Fiat">Włochy</span>
                <span th:case="Ford">USA</span>
                <span th:case="*">Brak informacji</span> <!-- * oznacza warunek dowolny -->
            </td>
            <td><span th:text="${car.vin}"/></td>
            <td><span th:text="${car.yearOfProduction}"/></td>
            <td><span th:text="${car.insuredFrom}"/></td>
            <td><span th:text="${car.insuredTo}"/></td>
            <td>
                <span th:if="${todayDate.isAfter(car.insuredTo)}">Brak ubezpieczenia</span>
                <span th:unless="${todayDate.isAfter(car.insuredTo)}">Brak potrzebnych akcji</span>
            </td>
            <td>
                <a th:href="@{/mvc/car/edit/} + ${car.id}">Edytuj</a>
            </td>
            <td>
                <a th:href="@{/mvc/car/delete/} + ${car.id}">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>
