<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Wypożyczalnia aut</title>
</head>
<body>
<from method="post" th:action="@{/mvc/register}" th:object="${user}">
    Nazwa: <input type="text" th:field="*{username}"/></br>
    Hasło: <input type="password" th:field="*{password}"/></br>
    Rola: <select th:field="*{role}"/>
    <option value="ADMIN">admin</option>
    <option value="USER">Wynajmujący</option>
    </select></br>
    <input type="submit" value="Zarejestruj">
</from>
<div th:replace="fragments/navigation :: footer"/>
</body>
</html>
